---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import WorkNav from "@/components/WorkNav.astro";
import animation from "@/utils/animations";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import WorkPreview from "../components/WorkPreview.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="My Work | Y.R. Sahl" description="Learn about my most recent projects">
  <div id="work" transition:animate={animation} class="stack gap-20" data-scope="">
    <main class="wrapper stack gap-10 md:gap-12 mb-10">
      <Hero
        title="My Work"
        tagline="See my most recent projects below to get an idea of my past experience."
        align="start"
      >
        <WorkNav />
      </Hero>
      {
        (
          <Grid variant="offset" lenItems={projects.length}>
            {projects.map((project) => (
              <li class={`animate-fade ${project.data.scope?.toLowerCase()}`}>
                <WorkPreview project={project} />
              </li>
            ))}
          </Grid>
        )
      }
    </main>
  </div>
</BaseLayout>

<style>
  #work[data-scope="website"] li:not(.website),
  #work[data-scope="app"] li:not(.app),
  #work[data-scope="experience"] li:not(.experience) {
    display: none;
  }
</style>
